body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-screen {
    position: relative;
    width: 1170px; /* 화면 크기 */
    height: 2532px;
}

.screen-image {
    width: 100%;
    height: auto; /* 이미지가 화면 크기에 맞게 조정됨 */
}

.btn {
    position: absolute;
    width: 100px; /* 버튼 크기 */
    height: 100px;
    background: transparent; /* 투명 배경 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 마우스 오버 시 포인터 모양 변경 */
    color: transparent; /* 글자 색상 투명 */
}
/* 확대 애니메이션 효과 */
@keyframes zoom-in {
    from {
        transform: scale(0); /* 시작 시 0배 크기 (완전히 축소) */
    }
    to {
        transform: scale(1); /* 종료 시 원래 크기 */
    }
}

.screen-image {
    /* 기본 스타일 */
    width: 100%; /* 이미지가 화면을 꽉 채우도록 설정 */
    transition: transform 0.5s ease; /* 부드러운 전환 효과 */
}

.zoom-effect {
    animation: zoom-in 0.5s ease forwards; /* 애니메이션 적용 */
}

.button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#backButton {
    top: 165px;
    left: 25px;
    width: 50px;
    height: 50px;
}

#newImageButton {
    top: 1515px;
    left: 27px;
    width: 350px;
    height: 350px;
}

/* 여기에 추가 CSS 스타일을 정의하세요. */
